html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

img {
  max-width: 100%; }

.v-m:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle; }

.v-m > * {
  vertical-align: middle; }

.banner {
  position: relative; }
  .banner .pager {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0; }
    .banner .pager li {
      display: inline-block;
      font-size: 1.2rem; }

.courses {
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid #fafafa; }
  .courses ul {
    display: block;
    font-size: 0; }
    .courses ul li {
      display: inline-block;
      width: 50%;
      font-size: 1rem; }
      .courses ul li a {
        display: block; }
        .courses ul li a p {
          position: relative; }
          .courses ul li a p span {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5); }
      .courses ul li img {
        min-height: 80px;
        width: 100%; }

#main_tab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px; }

.tab_wrap {
  font-size: 0;
  background-color: #f9f9f9; }
  .tab_wrap .tab {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 32px;
    line-height: 32px;
    width: 33.333333333%;
    font-size: 12px; }
    .tab_wrap .tab.active {
      background-color: #f0f0f0; }
